{% extends 'base.html' %}
{% load static %}

{% block title %}
  Contact Page
{% endblock %}
{% block extrahead %}
 <link rel="stylesheet" href="{% static 'css/contact.css' %}" />
{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/contact.js' %}"></script>
{% endblock %}



{% block content %}
<div class="contact-card">  
  <img src="{% static 'images/IMG_2093.jpg' %}" alt="Josh Allen" class="profile-pic">
  <p>Joshua Allen</p>
  <p>cell: 816-522-5990</p>
  <p>Email: <a href="mailto:allenjosh1983@gmail.com">allenjosh1983@gmail.com</a></p>
  <p>Location: Kansas City, MO</p>
</div>
  
{% endblock %}